## LAB-13- USER CLASS CLASSIFICATION

In [ ]:
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [ ]:
# Importing dataset
df = pd.read_csv('user_data.csv')

In [ ]:
df.head()

,user_group,Gender,OwnHome,Married,Location,Salary,Children,History,Catalogs,AmountSpent
0,Old,Female,Own,Single,Far,47500,0,High,6,755
1,Middle,Male,Rent,Single,Close,63600,0,High,6,1318
2,Young,Female,Rent,Single,Close,13500,0,Low,18,296
3,Middle,Male,Own,Married,Close,85600,1,High,18,2436
4,Middle,Female,Own,Single,Close,68400,0,High,12,1304

In [ ]:
df.user_group.value_counts()

Middle    508
Young     287
Old       205
Name: user_group, dtype: int64

In [ ]:
df.shape

(1000, 10)

In [ ]:
# there are 3 user groups: now u r task is build a suitable model which can
# classify to which group a user falls given other details

In [ ]:
# Exploratory data analysis

In [ ]:
# Visualizations

In [ ]:
# any data transformations identified: like map, scaling etc

In [ ]:
# train-test split

In [ ]:
# import suitable model, metrics

In [ ]:
# fit model

In [ ]:
# print model m

In [ ]:
# use model to predict

In [ ]:
#